In [10]:
import json
import mysql.connector

In [11]:
with open('./03142024.json', 'r', encoding='utf-8') as file:
    books_data = json.load(file)

In [12]:
config = {
    'user': 'admin',
    'password': 'UWteal2023',
    'host': 'libtooldatabase.cryiegg6w7p6.us-east-1.rds.amazonaws.com',
    'database': 'teal',
    'port': '3306'
}

In [13]:
db = mysql.connector.connect(**config)
cursor = db.cursor()

In [17]:
for record in books_data:
    # Prepare SQL query to update the database record matching year, publisher, sourceTitle, and workTitle
    sql = """
    UPDATE teal.searchtool_record
    SET InfoLink = %s, `ISBN-10` = %s, `ISBN-13` = %s
    WHERE `year` = %s AND `publisher` = %s AND `sourceTitle` = %s AND `workTitle` = %s
    """

    # Safely get the first ISBN-10 and ISBN-13 if they exist, else use None
    isbn_10_list = record.get('ISBN-10', [])
    isbn_13_list = record.get('ISBN-13', [])
    isbn_10 = isbn_10_list[0] if len(isbn_10_list) > 0 else None
    isbn_13 = isbn_13_list[0] if len(isbn_13_list) > 0 else None

    val = (
        record.get('InfoLink'), 
        isbn_10, 
        isbn_13, 
        record['year'], 
        record['publisher'], 
        record['sourceTitle'], 
        record['workTitle']
    )

    cursor.execute(sql, val)

In [18]:
db.commit()
print(cursor.rowcount, "record(s) updated.")

0 record(s) updated.

In [19]:
cursor.close()
db.close()